@use '../abstracts/variables' as *;  

@mixin button-style($color, $bg, $border)
   text-align: center
   padding: 5px 20px
   margin: 10px 5px
   font-size: $body-text
   border: 1px solid $border
   text-transform: uppercase
   color: $color
   background: $bg
   transition: $transition
   cursor: pointer

@mixin font-style($font-size, $padding, $color)
   text-transform: uppercase
   font-size: $font-size
   padding-top: $padding
   text-align: left
   color: $color

