//colors
$black: #000
$white: #fff

$twitter-blue: #1da1f2
$uranian-blue:#AFDBF5
$red: #A50021

// actual colors
$dark-gray: #252525
$dark-green: #4D433D
$ivory: #F0EEDB

//font sizes
$heading:100px
$heading-sm: 30px

$subheading: 30px
$subheading-sm: 20px

$body-text: 20px
$body-text-sm: 14px


// margins
$margin-section: 100px
$margin-top: 20px
$margin-sm: 10px
   
$padding-top: 10px
// another elements
$border: 3px solid white

//transnition
$transnision: all 1s ease-out