@use '../abstracts/variables' as *;  


input, textarea, select
   width: 100%
   color: $dark-gray
   border: 2px solid $ivory
   font-size: $body-text
   margin-bottom: 10px
   background: $ivory
   height: 60px
input[type=submit]
   width: 300px
   text-align: center
   cursor: pointer

textarea
   resize: none

@media (max-width: 1024px)
   input, textarea, select
      height: 50px

@media (max-width: 767px)
   input, textarea, select
      height: 40px