input
   width: 100%
   color: $dark-gray
   border: 2px solid $ivory
   font-size: $body-text
   margin-bottom: 10px
   background:$ivory
input[type=submit]
   width: 120px
   text-align: center
   cursor: pointer
