.header__link
   text-transform: uppercase
   color: $dark-green

.header__link:hover
   border-bottom: 1px solid $dark-green

.heading-white
   @include font-style($heading, $padding-top, $ivory)

.heading-green
   @include font-style($heading, $padding-top, $dark-green)


.subheading-white
   @include font-style($subheading, $padding-top, $ivory)
   line-height: 50px

.subheading-green
   @include font-style($subheading, $padding-top, $dark-green)
   line-height: 50px

.body-text-white
   @include font-style($body-text, $padding-top, $ivory)
.body-text-green
   @include font-style($body-text, $padding-top, $dark-green)


@media (max-width: 1024px)
   .heading-white, .heading-green
      font-size: $heading-sm
   .subheading-white, .subheading-green
      font-size: $subheading-sm
      line-height: 40px
   .body-text-white, .body-text-green
      font-size: $body-text-sm

@media (max-width: 767px)
   .heading-white, .heading-green
      font-size: $heading-xs
   .subheading-white, .subheading-green
      font-size: $subheading-xs
      line-height: 30px
   .body-text-white, .body-text-green
      font-size: $body-text-xs