.section  
   z-index: 80
   &__wrapper
      padding: 40px 0px
   &__text
      width: 700px
   &__buttons
   &__img
      width: 200px
      img
         width: 100%
   &__media
      width: 400px
      img
         width: 100%

.cardboard
   background-image: url("../img/bg.png")
   background-repeat: repeat
   background-size: 250px 250px
   &__wrapper 
      display: flex
      justify-content: space-between
 
.photo
   background-image: url("../img/food-bg.png")
   background-repeat: no-repeat
   background-size: cover
   background-attachment: fixed

.photo--2
   background-image: url("../img/food-bg-2.png")
   background-repeat: no-repeat
   background-size: cover
   background-attachment: fixed