.menu
   background: $white
   &__wrapper
      
   &__heading
      display: flex
      flex-direction: row
      justify-content: space-between
      align-items: center
      border-bottom: $heading-border
   &__heading--title
   &__heading--img
      width: 100px
      img
         width: 100%
   &__table
      table
         width: 100%
                  
   &__table--price
      text-align: right
