.form
   background: $white
   &__wrapper
   &__form
   &__item
      width: 100%
      margin-top: $margin-top
      label
         width: 100%
         display: block
         font-size: 15px
         margin: 16px 0px
         color: $dark-green
      input::placeholder
         font-size: 16px
         color: $white
         width: 100%


